global
    maxconn 4096

defaults
    mode http
    option http-keep-alive
    timeout connect 1s
    timeout client 10s
    timeout server 10s

frontend fraud_http
    bind *:9999
    default_backend fraud_api

backend fraud_api
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 204
    server api1 unix@/run/sock/api1.sock check inter 1s fall 2 rise 1
    server api2 unix@/run/sock/api2.sock check inter 1s fall 2 rise 1
